<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

        .name-for-roles {
            margin-right: 5px;
            font-weight: bold;
        }

        .roles-for-name {
            margin-left: 5px;
        }

        .custom-input {
            background-color: #ffc107 !important;
        }

        .btn-info {
            color: white; /* Set the text color to white */
        }

        table {
            max-width: 90%;
        }

        .vh100 {
            min-height: 100vh;
        }
    </style>

    <title>Users</title>
</head>
<body>
<!---->
<div class="container-fluid bg-light">
    <div class="row bg-dark">
        <!-- col- elements here -->
        <div class="col-auto px-3 mb-2 text-white d-flex h5" sec:authorize="isAuthenticated()">
            <p class="h5 name-for-roles" sec:authentication="name"></p> with roles: <p class="h5 roles-for-name"
                                                                                       th:text="${#authentication.principal.getAuthoritiesAsString()}"></p>
            <!--            -->
            <!--            <div sec:authorize="hasRole('USER')">Text visible to User.</div>-->
            <!--            <div sec:authorize="hasRole('ADMIN')">Text visible to Admin.</div>-->
            <!--            <div sec:authorize="isAuthenticated()">-->
            <!--                Text visible only to authenticated users.-->
            <!--            </div>-->
            <!--&lt;!&ndash;                        <div sec:authentication="principal.authorities"></div>&ndash;&gt;-->
            <!--            <div sec:authentication="principal"></div>-->

            <!--            -->
        </div>
        <div class="col-auto px-3 mb-2 text-white ms-auto">
            <a th:href="@{/logout}" class="btn text-secondary">Logout</a>
        </div>
    </div>

    <div class="row" id="admin-section">
        <div class="col-2 bg-body pt-3 mx-0 px-0">

            <div class="d-grid ">
                <button class="btn btn-primary text-start" type="button" id="to-admin-panel"
                        sec:authorize="hasRole('ADMIN')">Admin
                </button>
                <button class="btn btn-outline-primary border-0 text-start" type="button" id="to-user-section">User
                </button>
            </div><!-- column left 1 -->
        </div>

        <div class="col px-4 pb-auto vh100">
            <!---->
            <p class="h1 mt-3" id="admin-section-0" sec:authorize="hasRole('ADMIN')">Admin panel</p>
            <p class="h1 mt-3 d-none" id="authorized-user-section-2">User information-page</p>
            <!---->

            <!--    -->
            <nav class="nav nav-tabs" name="nav-tab" role="tablist" id="admin-section-1"
                 sec:authorize="hasRole('ADMIN')">
                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">Users table</a>
                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">New user</a>
            </nav>
            <div class="tab-content" id="nav-tabContent" >
                <div sec:authorize="hasRole('ADMIN')" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="col p-2 mb-0 bg-light text-dark border">
                        <p class="h4">All users</p>
                    </div>

                    <!--    -->
                    <div class="row p-0 m-0 bg-body border table-responsive">
                        <table class="table table-striped m-4 table-responsive ">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 10%;">
                                <col style="width: 15%;">
                                <col style="width: 10%;">
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>User Status</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getUserName().trim()}"></td>
                                <td th:text="${user.getUserStatus().trim()}"></td>
                                <td th:text="${user.getUserAge()}"></td>
                                <td th:text="${user.getLogin().trim()}"></td>

                                <td>
                                    <div th:each="role : ${user.getRoles()}"
                                         th:text="${role.getName().replace('ROLE_', '')}"></div>
                                </td>

                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                            th:data-bs-target="'#editModal-' + ${user.getId()}">Edit
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'editModal-' + ${user.getId()}" tabindex="-1"
                                         aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal content here -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" th:with="userObject=${user}">
                                                    <form id="editForm" th:method="PATCH"
                                                          th:action="@{ /admin/{id} (id=${user.getId()}) }"
                                                          class="needs-validation row g-3 p-3 d-flex flex-column align-items-center">

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userId"
                                                                   class="form-label fw-bold text-center col-sm-8">ID</label>
                                                            <input type="text" th:value="${userObject.getId()}"
                                                                   id="userId"
                                                                   class="form-control" readonly>
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userName"
                                                                   class="form-label fw-bold text-center col-sm-8">User
                                                                Name</label>
                                                            <input type="text" th:value="${userObject.getUserName()}"
                                                                   id="userName"
                                                                   th:attr="id='userName_' + ${userObject.getId()}, name='userName'"
                                                                   class="form-control">
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userAge"
                                                                   class="form-label fw-bold text-center col-sm-8">Age</label>
                                                            <input type="text" th:value="${userObject.getUserAge()}"
                                                                   id="userAge"
                                                                   th:attr="id='userAge_' + ${userObject.getId()}, name='userAge'"
                                                                   class="form-control">
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userStatus"
                                                                   class="form-label fw-bold text-center col-sm-8">User
                                                                status</label>
                                                            <select th:value="${userObject.getUserStatus()}"
                                                                    id="userStatus"
                                                                    th:attr="id='userStatus_' + ${userObject.getId()}, name='userStatus'"
                                                                    class="form-control">
                                                                <option value="active">Active</option>
                                                                <option value="banned">Banned</option>
                                                                <option value="read-only">Read-only</option>
                                                                <option value="registered">Registered</option>
                                                            </select></div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="loginUser"
                                                                   class="form-label fw-bold text-center col-sm-8">Email</label>
                                                            <input type="text" th:value="${userObject.getLogin()}"
                                                                   id="loginUser"
                                                                   th:attr="id='loginUser_' + ${userObject.getId()}, name='login'"
                                                                   class="form-control">
                                                        </div>


                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="passwordUser"
                                                                   class="form-label fw-bold text-center col-sm-8">Password</label>
                                                            <input type="password" id="passwordUser"
                                                                   placeholder="Enter new password"
                                                                   th:attr="id='userPassword_' + ${userObject.getId()}, name='password'"
                                                                   class="form-control">
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <!---->
                                                            <label for="userRoles"
                                                                   class="form-label fw-bold text-center col-sm-8">Role</label>
                                                            <div id="userRoles">
                                                                <div>
                                                                    <input type="checkbox" id="userRoleEdit"
                                                                           name="roles"
                                                                           value="ROLE_USER"
                                                                           th:checked="${userObject.getAuthoritiesAsString().contains('USER')}"/>
                                                                    <label for="userRoleEdit">USER</label>
                                                                </div>
                                                                <div>
                                                                    <input type="checkbox" id="adminRoleEdit"
                                                                           name="roles"
                                                                           value="ROLE_ADMIN"
                                                                           th:checked="${userObject.getAuthoritiesAsString().contains('ADMIN')}"/>
                                                                    <label for="adminRoleEdit">ADMIN</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </form>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"> Close
                                                    </button>
                                                    <button type="button submit" class="btn btn-primary"
                                                            form="editForm">Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>

                                <td><!--delete start -->

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            th:data-bs-target="'#delModal-' + ${user.getId()}">Delete
                                    </button>

                                    <!-- Modal delete -->
                                    <div class="modal fade" th:id="'delModal-' + ${user.getId()}" tabindex="-1"
                                         aria-labelledby="delModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal content here -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delModalLabel">Delete User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" th:with="userObject=${user}">
                                                    <form id="delForm" th:method="PATCH"
                                                          th:action="@{ /admin/{id} (id=${user.getId()}) }"
                                                          class="needs-validation row g-3 p-3 d-flex flex-column align-items-center">

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userId_del"
                                                                   class="form-label fw-bold text-center col-sm-8">ID</label>
                                                            <input type="text" th:value="${userObject.getId()}"
                                                                   id="userId_del"
                                                                   class="form-control" readonly>
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userName_del"
                                                                   class="form-label fw-bold text-center col-sm-8">User
                                                                Name</label>
                                                            <input type="text" th:value="${userObject.getUserName()}"
                                                                   id="userName_del"
                                                                   th:attr="id='userName_' + ${userObject.getId()}, name='userName'"
                                                                   class="form-control" readonly>
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userAge_del"
                                                                   class="form-label fw-bold text-center col-sm-8">Age</label>
                                                            <input type="text" th:value="${userObject.getUserAge()}"
                                                                   id="userAge_del"
                                                                   th:attr="id='userAge_' + ${userObject.getId()}, name='userAge'"
                                                                   class="form-control" readonly>
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="userStatus_del"
                                                                   class="form-label fw-bold text-center col-sm-8">User
                                                                status</label>
                                                            <select th:value="${userObject.getUserStatus()}"
                                                                    id="userStatus_del"
                                                                    th:attr="id='userStatus_' + ${userObject.getId()}, name='userStatus'"
                                                                    class="form-control" readonly>
                                                                <option value="active">Active</option>
                                                                <option value="banned">Banned</option>
                                                                <option value="read-only">Read-only</option>
                                                                <option value="registered">Registered</option>
                                                            </select></div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="loginUser_del"
                                                                   class="form-label fw-bold text-center col-sm-8">Email</label>
                                                            <input type="text" th:value="${userObject.getLogin()}"
                                                                   id="loginUser_del"
                                                                   th:attr="id='loginUser_' + ${userObject.getId()}, name='login'"
                                                                   class="form-control" readonly>
                                                        </div>


                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <label for="passwordUser_del"
                                                                   class="form-label fw-bold text-center col-sm-8">Password</label>
                                                            <input type="password" id="passwordUser_del"
                                                                   placeholder="Enter new password"
                                                                   th:attr="id='userPassword_' + ${userObject.getId()}, name='password'"
                                                                   class="form-control" readonly>
                                                        </div>

                                                        <div class="row mb-3 mx-auto position-relative justify-content-center">
                                                            <!---->
                                                            <label for="userRoles_del"
                                                                   class="form-label fw-bold text-center col-sm-8">Role</label>
                                                            <div id="userRoles_del">
                                                                <div>
                                                                    <input type="checkbox" id="userRoleEdit_del"
                                                                           name="roles"
                                                                           value="ROLE_USER"
                                                                           th:checked="${userObject.getAuthoritiesAsString().contains('USER')}"
                                                                           disabled/>
                                                                    <label for="userRoleEdit">USER</label>
                                                                </div>
                                                                <div>
                                                                    <input type="checkbox" id="adminRoleEdit_del"
                                                                           name="roles"
                                                                           value="ROLE_ADMIN"
                                                                           th:checked="${userObject.getAuthoritiesAsString().contains('ADMIN')}"
                                                                           disabled/>
                                                                    <label for="adminRoleEdit">ADMIN</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </form>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal"> Close
                                                    </button>
                                                    <!--                                                    <button type="button submit" class="btn btn-primary" form="editForm">Save Changes</button>-->
                                                    <!-- delete form start -->
                                                    <form hidden id="delete-form" th:method="DELETE"
                                                          th:action="@{ admin/{id} (id=${user.getId()}) }"
                                                          th:object="${user}"></form>
                                                    <button form="delete-form" type="submit" class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                    <!-- delete form start -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td><!--delete finish -->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div> <!-- pane 1 finish there-->

                <!-- authorized user section - START -->

                <div class="col p-2 mb-0 bg-light text-dark border d-none" id="authorized-user-section-0">
                    <p class="h4">About user</p>
                </div>

                <div class="row p-0 m-0 bg-body border table-responsive d-none" id="authorized-user-section-1">
                    <table class="table table-striped m-4 table-responsive ">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>User Status</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${userAuth.getId()}"></td>
                            <td th:text="${userAuth.getUserName().trim()}"></td>
                            <td th:text="${userAuth.getUserStatus().trim()}"></td>
                            <td th:text="${userAuth.getUserAge()}"></td>
                            <td th:text="${userAuth.getLogin().trim()}"></td>

                            <td>
                                <div th:each="role : ${userAuth.getRoles()}"
                                     th:text="${role.getName().replace('ROLE_', '')}"></div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- authorized user section - FINISH -->


                <!-- new user tab -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="col p-2 mb-0 bg-light text-dark border">
                        <p class="h4">Add new user</p>
                    </div>
                    <!--form for NEW user---------START------------->
                    <form th:method="POST" th:action="@{/admin}" th:object="${userNew}"
                          class="needs-validation row g-3 p-3 d-flex flex-column align-items-center border p-0 m-0 bg-body">

                        <div class="row mb-3 col-md-6 mx-auto position-relative justify-content-center">
                            <label for="name" class="form-label fw-bold text-center col-sm-4">User Name</label>
                            <input type="text" th:field="*{userName}" id="name" class="form-control" required
                                   oninput="changeInputBackground(this)">
                        </div>

                        <div class="row mb-3 col-md-6 mx-auto justify-content-center">
                            <label for="age" class="form-label fw-bold text-center col-sm-4"> Age</label>
                            <input type="number" th:field="*{userAge}" id="age" class="form-control"
                                   placeholder="Enter an age"
                                   min="18" oninput="changeInputBackground(this)">
                        </div>

                        <div class="row mb-3 col-md-6 mx-auto justify-content-center">
                            <label for="status" class="form-label fw-bold text-center col-sm-4"> Status</label>
                            <select th:field="*{userStatus}" id="status" class="form-select">
                                <option value="active">Active</option>
                                <option value="banned">Banned</option>
                                <option value="read-only">Read-only</option>
                                <option value="registered">Registered</option>
                            </select>
                        </div>

                        <div class="row mb-3 col-md-6 justify-content-center">
                            <label class="form-label fw-bold text-center col-sm-4"> Role</label>
                            <div class="form-check">
                                <input type="checkbox" id="userRole" name="roles" value="ROLE_USER" th:checked="true"
                                       class="form-check-input">
                                <label for="userRole" class="form-check-label">USER</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="adminRole" name="roles" value="ROLE_ADMIN" th:checked="false"
                                       class="form-check-input">
                                <label for="adminRole" class="form-check-label">ADMIN</label>
                            </div>
                        </div>

                        <div class="row mb-3 col-md-6 justify-content-center">
                            <label for="login" class="form-label fw-bold text-center col-sm-4"> Email</label>
                            <input type="text" th:field="*{login}" id="login" class="form-control" required
                                   oninput="changeInputBackground(this)">
                        </div>

                        <div class="row mb-3 col-md-6 justify-content-center">
                            <label for="password" class="form-label fw-bold text-center col-sm-4"> Password</label>
                            <input type="password" th:field="*{password}" id="password" class="form-control" required
                                   oninput="changeInputBackground(this)">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Add new User</button>
                        </div>
                    </form>

                    <!--form for NEW user------------FINISH-------------->

                </div>
            </div>
        </div>
    </div>
    <!--    <div class="row" id="user-section">user section</div>-->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

</body>
</html>